
.header-service{
    width: 100vw;
    position: relative;
}

.service-banner{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.service-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 2rem 0;
    padding-bottom: 5rem;
}

.service-container p, .service-container h2, .service-container h3{
    width: 100%;
    max-width: 1050px;
}
.service-container h3{
    font-size: 2rem;
}

.service-container img{
   width: 100%;
   max-width: 1050px;
   height: auto;
}

.service-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4rem;
}